<!doctype html>
<html lang="en">
  <head>
    <title>Appointment</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
   <div style="height: 60px;"></div>
   <div class="conatiner">
   <h1><strong>View Appointment</strong></h1>
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">email</th>
            <th scope="col">Age</th>
            <th scope="col">Complete Address</th>
            <th scope="col">Trainer Perference</th>
            <th scope="col">Physio Required</th>
            <th scope="col">Package</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Gourav</td>
            <td>992652321</td>
            <td>gourav@gmail.com</td>
            <td>22</td>
            <td>Electronic City Phase-1 , Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Premium</td>
            <td>20,000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mishra</td>
            <td>787652321</td>
            <td>mishra@gmail.com</td>
            <td>28</td>
            <td>Electronic City Phase-1 , Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Premium</td>
            <td>40,000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mehak</td>
            <td>717652321</td>
            <td>mehak@gmail.com</td>
            <td>46</td>
            <td>Neeladri , Bangalore</td>
            <td>Female</td>
            <td> No</td>
            <td> Normal</td>
            <td>10,000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Shivam</td>
            <td>907652321</td>
            <td>shivam@gmail.com</td>
            <td>45</td>
            <td>Doddathoguru , Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Premium</td>
            <td>30,000</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Anukriti</td>
            <td>917652321</td>
            <td>anu@gmail.com</td>
            <td>25</td>
            <td>Electronic City Phase-1 , Bangalore</td>
            <td>Female</td>
            <td> Yes</td>
            <td> Premium</td>
            <td>30,000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Ajay</td>
            <td>927652321</td>
            <td>ajay@gmail.com</td>
            <td>30</td>
            <td>Electronic City Phase-1 , Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Normal</td>
            <td>12,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</html>
